.win-back {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.win-backbutton {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.win-backbutton:hover, .win-navigation-backbutton:hover .win-back {
    background-color: #0C8EF6;
    border-color: #FFFFFF;
}